.genresBlock{
margin-top: 150px;
}

.genresBlock:hover {


}

.genreBlock{
    height: 30px;
    width: 200px;
    margin: 10px;
    text-align: left;
    background-color: slategrey;
    font-size: 20px;
}

.genreBlock:hover{
    background-color: olivedrab;
}
