.genresBlock{
    width: 800px;
    height: 40px;
    background-color: navy;
    transition: 500ms;
    z-index: 1;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.genresBlock:hover {
    width: 800px;
    height: 600px;
    margin-top: 560px;
    transition: 500ms;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.genreBlock{
    height: 50px;
    width: 200px;
    margin: 10px;
    text-align: left;
    background-color: slategrey;
}

.genreBlock:hover{
    background-color: olivedrab;
}
