.moviesListBlock{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin-left: 100px;
    margin-top: 200px;
}

.prevButton {
    margin-left: 200px;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
     color: orange;
background-color: black;
    width: 120px;

}

.nextButton{
font-size: 20px;
    width: 100px;
    background-color: black;
    color: orange;
}

.prevButton:hover{
    background-color: black;
    border: 2px solid gold;
}

.prevButton:active{
    background-color: goldenrod;
    color: green;
}