.moviesListBlock{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    margin-left: 200px;
    margin-top: 100px;
}

.prevButton {
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 24px;
     color: orange;
    width: 120px;
    background-color: black;
border-radius: 5px;
    border: 2px solid darkgoldenrod;
}

.nextButton{
    font-size: 24px;
    color: orange;
    width: 120px;
    background-color: black;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
}

.prevButton:hover{
    background-color: black;
    border: 2px solid gold;
}

.nextButton:hover{
    background-color: black;
    border: 2px solid gold;
}
.prevButton:active{
    background-color: gold;
    color: black;
}
.nextButton:active{
    background-color: gold;
    color: black;
}