.moviesListBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: #a7a3a3;
    border-radius:10px;

}
/*style={{color: "black", width: 1000,paddingLeft:510,marginLeft:10,marginTop:50,fontFamily:'Arial',*/
/*    fontSize:20,fontWeight:600*/
/*}}*/
.correctWordBlock {
    color: black;
    width: 1000px;
    padding-left: 510px;
    margin-left: 10px;
    font-family: Bahnschrift;
    font-size: 20px;
    font-weight: 700;
    margin-top: 76px;
    /*height: 60px;*/
}

.prevButton {
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 24px;
     color: dimgray;
    width: 120px;
    /*background-color: darkred;*/
    border-radius: 5px;
    border: 2px solid dimgray;
}

.nextButton{
    margin-left: 950px;
    font-size: 24px;
    color: dimgray;
    width: 120px;
    background-color: inherit;
    border-radius: 5px;
    border: 2px solid dimgray;
}

.prevButton:hover{
    /*background-color: black;*/
    /*border: 2px solid dimgray;*/
    cursor: pointer;
}

.nextButton:hover{
    /*background-color: black;*/
    /*border: 2px solid dimgray;*/
    cursor: pointer;
}
.prevButton:active{
    background-color: dimgray;
    color: black;
    /*border: 2px solid black*/
}
.nextButton:active{
    background-color: dimgray;
    color: black;
    /*border: 2px solid black*/
}

.foundMoviesBlock{
    display: flex;
    /*justify-content: space-around;*/

    flex-wrap: wrap;
    margin: 50px 50px  ;
    width: 1320px;
    background-color: dimgray;
    border-radius: 5px;
}

.foundMoviesBlockWrap {

    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: darkgreen;*/

}