#light{
    background: #eeeaea;
}

#dark{
    background: #0d0303;
}

#dark .Header{
    background-color: #000000;
}

#dark a {
    color:darkred;
}

#dark a[class='active'] {
    color: #c7c0c0
}

#dark .moviesListBlock{
    background-color: #0a0101;
    /*color: snow;*/
}

#dark .titleBlock{
    color: snow;
}

#dark .switch {
    color:snow
}

#dark .correctWordBlock{
    color: snow;
}

#dark .foundMoviesBlock{
    background-color: #070101;
}


#dark .FoundMoviesCard{
    background-color: #070101;
}

#dark .FoundMoviesTitleBlock{
    color: snow;
}

#light .prevButton{
    background-color: #cac4c4;
}

#light .nextButton{
    background-color: #cac4c4;
}

#light .nameOfGenre:hover{
    background-color: #cecbcb;
}

#dark .nameOfGenre{
    background-color: #150606;
    color: #908e8e;
}

#dark .nameOfGenre:hover{
    background-color: #0a0101;
    color: white;
}

/*#light .Header{*/
/*    background: green;*/
/*}*/

/*#light .switch{*/
/*    color: darkred;*/
/*}*/

/*#dark .switch{*/
/*    color: darkblue;*/
/*}*/

