.movie_info_card{
    display: flex;
    margin-left: 10px;
    /*margin-top: 100px;*/
    /*margin-bottom: 50px;*/
}



.textSection{
    margin-left: 100px;
    color: #cac4c4;

}

.textSectionSlice {
    margin: 10px;
    font-size: 24px;
    font-family: Arial;
    width: 500px;
}

