.Header {
    height: 65px;
    background: #cfcdcd;
    /*margin-bottom: 20px;*/
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-radius: 5px;
    z-index: 2;
    /*box-sizing: border-box;*/
    /*box-shadow: 0 0 0 2px silver;*/
    border-bottom: 2px solid #240505;
}

.linkPack {
    width: 1400px;
    display: flex;
    justify-content: space-around;

}
.Header a {
    text-decoration: none;
    color: black;
    font-family: Bahnschrift;
}

.Header a[class='active']{
    color:darkred;
}

.user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: darkred;

    margin-left: 80px;
    margin-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;

}