.Header {
    height: 70px;
    background-color: dimgrey;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    border-radius: 5px;
    z-index: 2;
    box-sizing: border-box;
}

.Header a {
    text-decoration: none;
    color: black;
    -o-box-shadow: goldenrod;
}


.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin-left: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;

}