.card {
    height: 490px;
    width: 250px;
    /*background-color: black;*/
    color: snow;

    margin: 20px;
    margin-top: 40px;
    box-sizing: border-box;
    /*box-shadow: 2px 2px 2px 2px chocolate;*/
    border-radius: 5px;
}
.card:hover {
    /*box-shadow: 1px 1px 1px 1px snow;*/
    /*background-color: darkslategrey;*/
    cursor: cell;

}
.card:active{
    box-shadow: 1px 1px 1px 1px darkgreen;
}

.titleBlock {
    height: 70px;
    font-size: 20px;
    color: dimgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift;
    font-weight: 600;
    background: inherit;
}
.titleBlock:hover {
    color: darkslategrey;

}

.getSimilarButton {
    background-color: dimgrey;
    font-size: 20px;
    margin-left: 30px;
    /*box-shadow: 1px 1px 1px 1px slategrey;*/
    border: 2px solid slategrey;
    font-family: Rockwell;
    cursor: pointer;
    margin-top: 10px;
    color: g;
}

.getSimilarButton:hover{
    background-color: black;
    color: green;
    border: 2px solid darkslategrey;
}

.picture {
    max-width: 250px;
    max-height: 400px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 2px dimgray;
}
.picture:hover{
    box-shadow: 0px 0px 0px 2px grey;
    zoom: unset;
    max-width: 101%;
}