.card{
    height: 500px;
    width: 250px;
    /*background-color: lightcoral;*/
    margin: 20px;
}

/*.card:hover{*/
/*    border:2px solid white;*/
/*}*/

.picture{

}

/*style={{background:'grey',margin:10,width:250,height:500}*/